desktop.ini
._*
*Icon*
*"*"
.config
.config.txt
__pycache__/
.gitsecret/keys/random_seed
analyzer/password.txt
Makhela-end/node_modules
Makhela-end/consts.js
logs/
browser/
.idea/workspace.xml
src/keys.js
keys.js
src/consts.js
