.d-block {
    display: block;
}

#health-check-dashboard-tbody {
    /* color:black; */
    text-align: left;
}

.pn {
    height:auto;
}

.suggestions-links {
    color:black;
}

.profile-text h3 {
    color:#7731c3;
}

.profile-text h4 {
    color:#7731c3;
}

.profile-text h6 {
    color:#888888;
}